.container{
    /* background: red; */
    margin: auto;
    width: 100%;
    /* Setting padding for smallest screens */
    padding-left: 1rem;
    padding-right: 1rem;
}

@media only screen and ( min-width: 576px){
    .container{
        width: 540px;

        /* Removing the padding set for smallest screens */
        padding-left: 0;
        padding-right: 0;
    }
}
@media only screen and ( min-width: 768px){
    .container{
        width: 720px;
    }
}
@media only screen and ( min-width: 992px){
    .container{
        width: 960px;
    }
}
@media only screen and ( min-width: 1200px){
    .container{
        width: 1140px;
    }
}
/* @media only screen and ( min-width: 1400px){
    .container{
        width: 1320px;
    }
} */


.section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media only screen and ( min-width: 576px){
    .section{
        padding: 2rem 0;
    }
}
@media only screen and ( min-width: 768px){
    .section{
        padding: 4rem 0;
    }
}
@media only screen and ( min-width: 1200px){
    .section{
        padding: 6rem 0;
    }
}

.mini-section{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.tag{
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    font-size: var(--fs-100);
}
@media only screen and (min-width: 768px){
    .tag{
        font-size: var(--fs-400);
    }
}
.lh-1{
    line-height: 1;
}
.card-name-tag{
    font-family: var(--ff-body);
    font-size: var(--fs-200);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.paragraph{
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    font-size: var(--fs-500);
}
@media only screen and (min-width: 768px){
    .paragraph{
        font-size: var(--fs-600);
    }
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}

.pt-20{
    padding-top: 20px;
}

.bg-primary-light{
    background: var(--clr-primary-400);
}
.video-holder{
    padding-top: 56.25%;
    position: relative;
}
.video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}

.clr-txt-light{
    color: var(--clr-neutral-dark);
}
.clr-txt-dark{
    color: var(--clr-neutral-light);
}