.root{
    font-family: var(--ff-header);
    font-weight: var(--fw-bold);
    font-size: 1.75rem;
    line-height: 1;
    text-transform: capitalize;

}

@media only screen and ( min-width: 576px){
    .root{
        font-size: 2rem;
    }
}
@media only screen and ( min-width: 768px){
    .root{
        font-size: 2.5rem;
    }
}
@media only screen and ( min-width: 992px){
    .root{
        font-size: 3rem;
    }
}

.txt-left{
    text-align: left;
}
.txt-center{
    text-align: center;
}
.txt-right{
    text-align: right;
}
