.subtitle{
    margin-bottom: 0.75rem;
    font-weight: 700;
    font-size: 1.25rem;
}
.steps, .ingredients{
    margin-top: 1.5rem;
    ol, ul {
        margin-left: 1.5rem;
    }
}

.steps ol{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.steps p{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.steps li::marker{
    font-weight: 600;
    font-size: 1.25rem;
}

.steps img{
    font-size: 0.75rem;
}

.intro{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}